<IfModule mod_rewrite.c>
RewriteEngine On

#RewriteCond %{HTTP_HOST} !^([a-zA-Z0-9\_\-]+)\.(.*)\.(com|net|org|co\.th)$ [NC]
#RewriteRule .* http://www.%{HTTP_HOST}%{REQUEST_URI} [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
<ifModule mod_headers.c>
    Header set Access-Control-Allow-Origin: *
</ifModule>